:root {
  --max-width: 100%;
  --border-radius: 0x;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

.large-dropdown {
  width: 220px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
}

.dropdown + .dropdown {
  margin-top: 10px; /* Adjust the margin as needed */
}

.radio-button {
  display: inline-block;
  margin-right: 10px; /* Add margin for spacing between radio buttons */
  margin-top: 15px; /* Adjust the margin as needed */
}

/* Add this CSS to style the label text */
.radio-button label {
  display: inline-block;
  margin-left: 5px; /* Adjust margin as needed */
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: 600; /* Adjust the font size as needed */
}

.first-radio {
  color: green;
}

/* Style the last radio label as red */
.radio-button:last-child label {
  color: red;
}